.galva {
    padding: 20px;
    text-align: center;
    background: rgb(205, 203, 63);
    color: white;
    font-size: 18px;
    }
.body{
    background-color:rgb(51, 53, 153);
}
    /*
.kaja {
    padding: 15px;
    text-align: center;
    background: rgb(0, 107, 247);
    color: white;
    font-size: 12px; 
}
*/
